 * {

	padding: 0;
	margin: 0;

}
#cabecalho {


	
	background-color: #03eafa;
;
}
#titulo {


	text-align: center;
}

#meuformulario 
{

	
	
		border-color: rgb(0, 0, 0);
}

#textorodape {



	text-align: center;
	background-color: 	#06929c;

}
#Videos {

text-align: center;
	background-color: 	#06929c;



}