* {

	padding: 0;
	margin: 0;

}
#cabecalho {


	height: 100px;
	width: 100%;
	background-color: #808080;
}
#titulo {


	text-align: center;
}

#meuformulario 
{

		text-align: center;
		font-size: 72px;
		border-color: black;
		border-width: 3px;
}